@model LibrosViewModel

@if (Model != null)
{


    List<Usuario> usuarios = ViewData["USUARIOS_VALORACION"] as List<Usuario>;
    List<ValoracionesLibro> valoraciones = ViewData["VALORACIONES"] as List<ValoracionesLibro>;

    <div class="container my-5 fadein-libros-first">
        <div class="row">
            <div class="col-md-6">
                <img class="img-fluid" src="@Model.Imagen" alt="">
            </div>

            @if (Context.User.Identity.IsAuthenticated)
            {
                int idusuario = int.Parse(Context.User.FindFirst(ClaimTypes.NameIdentifier).Value);
                List<int> carrito = Context.Session.GetObject<List<int>>("FAVORITOS", idusuario);

                <div class="entry-header mb-3 p-3">
                    @if (int.Parse(Context.User.FindFirst(ClaimTypes.Role).Value) == 1)
                    {
                        @* <a class="btn btn-danger" asp-controller="Libros" asp-action="EliminarLibro"
            asp-route-idlibro="@Model.LibroId">
            <i class="fa fa-trash-alt"></i>
            </a> *@

                        <button class="btn btn-danger" onclick="confirmarEliminar(@Model.LibroId)">
                            <i class="fa fa-trash-alt"></i>
                        </button>
                    }

                    <form id="formEliminarLibro" method="post" asp-action="EliminarLibro" asp-controller="Libros" style="display:none;">
                        <input type="hidden" name="idlibro" id="idlibroEliminar" value="" />
                    </form>

                    @if (carrito != null)
                    {
                        @if (!carrito.Contains(Model.LibroId))
                        {
                            <a asp-controller="Libros"
                               asp-action="AñadirFavorito"
                               asp-route-idlibro="@Model.LibroId"
                               class="btn btn-outline-primary">
                                Añadir <i class="fa fa-cart-plus"></i>
                            </a>
                        }
                        else
                        {
                            <button class="btn btn-success w-100" disabled>
                                Libro ya en la cesta <i class="fa-solid fa-check"></i>
                            </button>

                            <a class="btn btn-danger w-100" asp-controller="Libros"
                               asp-route-idlibro="@Model.LibroId"
                               asp-action="EliminarProducto">
                                Eliminar de cesta <i class="fa fa-trash-alt"></i>
                            </a>
                        }
                    }
                    else
                    {
                        <a asp-controller="Libros"
                           asp-action="AñadirFavorito"
                           asp-route-idlibro="@Model.LibroId"
                           class="btn btn-outline-primary">
                            Añadir <i class="fa fa-cart-plus"></i>
                        </a>
                    }

                    @* <a class="btn btn-outline-primary" asp-controller="Libros" asp-action="AñadirFavorito"
            asp-route-idlibro="@Model.LibroId">
            <i class="fa fa-cart-plus"></i>
            </a> *@
                </div>

                @if (Model.ValoracionPromedio != null)
                {
                    <div class="p-3">
                        <a class="text-secondary text-decoration-none" asp-controller="Valoraciones" asp-action="RegistrarValoracion"
                           asp-route-idlibro="@Model.LibroId">
                            <input class="rating" max="5" step="0.5"
                                   style="--value: @Model.ValoracionPromedio?.ToString().Replace(',', '.'); background: #ffff; cursor: pointer"
                                   type="range" value="@Model.ValoracionPromedio?.ToString().Replace(',', '.')" readonly>
                            <p>
                                Comentar @Model.Titulo
                            </p>
                        </a>
                    </div>

                    @if (valoraciones != null)
                    {
                        <div class="accordion py-3" id="accordionPanelsStayOpenExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                        <strong class="text-primary">Comentarios sobre @Model.Titulo</strong> &nbsp;&nbsp; <strong>(@valoraciones.Count)</strong>
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                                    <div class="accordion-body">
                                        <ul class="list-group fadein-libros-first">
                                            @foreach (var val in valoraciones)
                                            {
                                                <li class="list-group-item">
                                                    <span>
                                                        <img src="@usuarios?.FirstOrDefault(x => x.IdUser == val.IdUsuario)?.FotoPerfil"
                                                             width="45" height="45" class="rounded-circle" />
                                                    </span>
                                                    <span class="fs-5 text-primary">@usuarios?.FirstOrDefault(x => x.IdUser == val.IdUsuario)?.Email</span>

                                                    <p class="text-secondary">@val.ValoracionDecimal</p>

                                                    <p class="text-dark">@val.Comentario</p>
                                                    @if (Context.User.Identity.IsAuthenticated)
                                                    {
                                                        @if (int.Parse(Context.User.FindFirst(ClaimTypes.Role).Value) == 1)
                                                        {
                                                            <p>
                                                                <a class="text-decoration-none text-danger" asp-controller="Valoraciones"
                                                                   asp-route-idlibro="@Model.LibroId"
                                                                   asp-action="EliminarValoracion" asp-route-idvaloracion="@val.IdValoracion">
                                                                    <i class="fa fa-trash"></i> Eliminar
                                                                </a>
                                                            </p>
                                                        }
                                                    }
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <span class="text-secondary">
                        Sé el primero en
                        <a class="text-primary text-decoration-none" asp-controller="Valoraciones" asp-action="RegistrarValoracion"
                           asp-route-idlibro="@Model.LibroId">
                            comentar
                        </a>
                        @Model.Titulo
                    </span>
                }

            }


            <div class="col-md-6 pb-5">
                <span>@Model.NombreAutor</span>
                <h3>@Model.Titulo</h3>
                <h3>@Model.PrecioUnitario €</h3>
                <div style="clear:both"></div>
                <p class="text-black-50">Género principal: @Model.NombreGenero</p>
                <p class="par-title mt-4 mb-1 text-secondary">Sobre @Model.Titulo</p>
                <p class="dummy-description mb-4">
                    @Model.Descripcion
                </p>
            </div>
        </div>
    </div>
}
else
{
    <h2 class="text-secondary">
        @ViewData["LIBRO_NULL"]
    </h2>
}
@* <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> *@

@section Scripts
{
    <script>
        function confirmarEliminar(idlibro) {
            Swal.fire({
                title: '¿Estás seguro?',
                text: "¡No podrás revertir esto!",
                //icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sí, eliminarlo!',
                cancelButtonText: 'Cancelar',
                imageUrl: 'https://appbookify.azurewebsites.net/images/logo.png',
                imageWidth: 100,
                imageHeight: 100,
                imageAlt: 'logo.png',
                customClass: {
                    image: 'rounded-image'
                }
            }).then((result) => {
                if (result.isConfirmed) {

                    document.getElementById('idlibroEliminar').value = idlibro;
                    document.getElementById('formEliminarLibro').submit();

        @if (TempData["MENSAJE_EXITO"] != null)
        {
            <text>
                            Swal.fire({
                                text: '@TempData["MENSAJE_EXITO"]',
                                icon: 'success',
                                showConfirmButton: false,
                                timer: 2500
                            });
            </text>
        }
                }
            });
        }

        // $(document).ready(function () {
        // if (TempData["MENSAJE_EXITO"] != null)
        // {
        //     <text>
        //             Swal.fire({
        //                 title: '¡Éxito!',
        //                 text: 'TempData["MENSAJE_EXITO"]',
        //                 icon: 'success',
        //                 showConfirmButton: false,
        //                 timer: 2500
        //             });
        //     </text>
        // }
        //                     });
    </script>
}

