@model List<ModelLibro>

@{
    ViewData["Title"] = "Libros";

}

<section class="h-50 mb-2 pb-2 fadein-libros-first">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black" style="background-color: #d8d8d8;">
                    <div class="row g-0" style="border-radius: .3rem">
                        <div class="col-lg-6">
                            <div class="card-body mx-md-4">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 d-flex align-items-center imagenForm">
                        <div class="text-black px-3 py-4 p-md-5 mx-md-4">
                            <h4 class="mb-4">
                                <strong>
                                    BOOKIFY
                                    @* <button class="btn btn-outline-success" onclick="loadLibros()"> <i class="fa fa-rotate-left"> </i></button> *@
                                </strong>
                            </h4>
                            <p class="small mb-0">
                                Aprovecha las últimas oportunidades del momento y sácale provecho
                                a los libros que quieras con nosotros. Ya puedes disfrutar de tus libros favoritos
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bsb-blog-5 py-3 py-md-5 py-xl-8 mb-9 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                @* <i class="fa fa-spinner fa-pulse fa-fw"></i> *@
            </div>
        </div>

        <div class="row" id="librosContainer" style="display: none">
            @foreach (var libro in Model)
            {
                <div class="col-12 col-md-6 col-lg-4 mb-4 fadein-libros fadein-libros-first">
                    <div class="card border-0 bg-transparent">
                        <figure class="card-img-top mb-4 overflow-hidden bsb-overlay-hover">
                            <a asp-controller="Libros" asp-action="DetallesLibro" asp-route-idLibro="@libro.Libros.IdLibro">
                                <img class="img-fluid bsb-scale bsb-hover-scale-up" loading="lazy" src="@libro.Libros.Imagen" alt="">
                            </a>
                            <figcaption>
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-eye text-white bsb-hover-fadeInLeft" viewBox="0 0 16 16">
                                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                                </svg>
                                <h4 class="h6 text-white bsb-hover-fadeInRight mt-2">
                                    @if (libro.Autor != null)
                                    {
                                        <span>@libro.Autor.Nombre</span>
                                    }
                                    else
                                    {
                                        <span>Autor Anónimo</span>
                                    }
                                </h4>
                            </figcaption>
                        </figure>
                        <div class="card-body m-0 p-0">
                            <div class="entry-header mb-3">
                                <div class="card-title entry-title h4 m-0">
                                    <p>
                                        <a class="text-black text-decoration-none" asp-controller="Valoraciones" asp-action="RegistrarValoracion"
                                           asp-route-idlibro="@libro.Libros.IdLibro">
                                            @libro.Libros.Titulo
                                        </a>
                                    </p>
                                </div>
                                @if (Context.User.Identity.IsAuthenticated)
                                {

                                    int idusuario = int.Parse(Context.User.FindFirst(ClaimTypes.NameIdentifier).Value);
                                    List<int> carrito = Context.Session.GetObject<List<int>>("FAVORITOS", idusuario); //Context.Session.GetObject<List<int>>("FAVORITOS");

                                    <ul class="entry-meta list-unstyled d-flex mb-3">
                                        @* <li>
                                <a class="btn btn-outline-primary"
                                asp-controller="Libros" asp-action="AñadirFavorito" asp-route-idlibro="@libro.Libros.IdLibro">
                                Añadir a carrito
                                </a>
                                </li> *@

                                        <li>
                                            @if (carrito != null)
                                            {
                                                @if (!carrito.Contains(libro.Libros.IdLibro))
                                                {
                                                    <a asp-controller="Libros"
                                                       asp-action="AñadirFavorito"
                                                       asp-route-idlibro="@libro.Libros.IdLibro"
                                                       class="btn btn-primary w-100">
                                                        Añadir <i class="fa fa-cart-plus"></i>
                                                    </a>
                                                }
                                                else
                                                {
                                                    <button class="btn btn-success w-100" disabled>
                                                        Libro ya en la cesta <i class="fa-solid fa-check"></i>
                                                    </button>
                                                    @*  <a class="btn btn-danger w-50" asp-controller="Libros"
                                    asp-route-idlibro="@libro.Libros.IdLibro"
                                    asp-action="EliminarProducto">
                                    Eliminar de carrito <i class="fa fa-trash-alt"></i>
                                    </a> *@
                                                }
                                            }
                                            else
                                            {
                                                <a asp-controller="Libros"
                                                   asp-action="AñadirFavorito"
                                                   asp-route-idlibro="@libro.Libros.IdLibro"
                                                   class="btn btn-primary w-100">
                                                    Añadir <i class="fa fa-cart-plus"></i>
                                                </a>
                                            }
                                        </li>
                                    </ul>
                                }
                            </div>
                        </div>
                        <div class="card-footer border-0 bg-transparent p-0 m-0">
                            <ul class="entry-meta list-unstyled d-flex align-items-center m-0">
                                <li>
                                    @if (libro.ValoracionesLibros != null && libro.ValoracionesLibros.Any())
                                    {
                                        <a class="text-decoration-none" asp-controller="Valoraciones" asp-action="RegistrarValoracion"
                                           asp-route-idlibro="@libro.Libros.IdLibro">
                                            <input class="rating" max="5" step="0.5"
                                                   style="--value: @String.Format("{0:0.00}", @libro.ValoracionesLibros.Average(m => m.ValoracionDecimal)).ToString().Replace(',','.'); cursor: pointer"
                                                   type="range" value="@String.Format("{0:0.00}", @libro.ValoracionesLibros.Average(m => m.ValoracionDecimal))"
                                                   readonly>
                                        </a>
                                    }
                                    else
                                    {
                                        <span>
                                            Sé el primero en
                                            <a class="text-primary text-decoration-none" asp-controller="Valoraciones" asp-action="RegistrarValoracion"
                                               asp-route-idlibro="@libro.Libros.IdLibro">
                                                comentar
                                            </a>
                                            @libro.Libros.Titulo
                                        </span>
                                    }
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</section>

@* <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> *@

@section Scripts
{
    <script>
        var loading = false;

        $(document).ready(function () {
            loadLibros();

            $(window).scroll(function () {
                if ($(window).scrollTop() == 0 && !loading) {
                    $('.container').animate({ marginTop: '75px' }, 400, function () {
                        loadLibros();
                        $('.container').animate({ marginTop: '0px' }, 400);
                    });
                }
            });

        @if (TempData["MENSAJE_EXITO"] != null)
        {
            <text>
                    Swal.fire({
                        position: "top-end",
                        text: '@TempData["MENSAJE_EXITO"]',
                        icon: 'success',
                        showConfirmButton: false,
                        timer: 2500
                    });
            </text>
        }

                });

        function loadLibros() {
            Swal.fire({
                //title: 'Cargando',
                html: `
                                    <strong><i class="fa fa-spinner fa-pulse fa-fw"></i></strong>
                                    <p> Cargando datos, espere por favor... </p>
                          `,
                //text: 'Por favor, espera...',
                icon: 'info',
                showConfirmButton: false,
                // buttons: false,
                // closeOnClickOutside: false,
                // closeOnEsc: false,
                // onOpen: () => {
                //     Swal.showLoading();
                // }
            });

            $.get('@Url.Action("Libros", "Libros")', function (data) {
                loading = false;
                Swal.close();

                $('#librosContainer').html(data.response);
                $('#librosContainer').show();
                $('.fa-spinner').hide();
            }).fail(function () {
                loading = false;
                Swal.fire("Error al cargar libros", "Hubo un error al cargar los libros. Por favor, intenta nuevamente.", "error");
            });
        }

        // function loadLibros() {
        //     swal.fire({
        //         title: 'Cargando libros...',
        //         text: 'Por favor, espera...',
        //         icon: 'info',
        //         buttons: false,
        //         closeOnClickOutside: false,
        //         closeOnEsc: false,
        //         onOpen: () => {
        //             swal.showLoading();
        //         }
        //     });

        //     $.get('@Url.Action("Libros", "Libros")', function (data) {
        //         swal.close();

        //         $('#librosContainer').html(data.response);
        //         $('#librosContainer').show();
        //         $('.fa-spinner').hide();
        //     }).fail(function () {
        //         swal("Error al cargar libros", "Hubo un error al cargar los libros. Por favor, intenta nuevamente.", "error");
        //     });
        // }
    </script>
}
