<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bookify</title>

    <link rel="shortcut icon" type="image/x-icon" href="~/logo.ico" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AppBookify.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/blog.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/libros.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/all.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/toasts.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/sweetalert.min.css" asp-append-version="true" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light header-background border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="rounded-pill" width="50" height="50"
                         src="~/images/logo.png">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        <partial name="_MenuUsuario" />

                        ﻿@if (Context.User.Identity.IsAuthenticated)
                        {
                            if (int.Parse(Context.User.FindFirst(ClaimTypes.Role).Value) == 1)
                            {
                                <li class="dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="dropdownAdmin" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Administrador <i class="fas fa-cogs"></i>
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownAdmin">
                                        <li class="dropdown-submenu">
                                            <a class="dropdown-item" asp-controller="Libros" asp-action="RegistrarLibro">Registrar Libro</a>

                                        </li>
                                        <!--  más submenús  -->
                                    </ul>
                                </li>
                            }
                        }
                    </ul>

                    ﻿@if (Context.User.Identity.IsAuthenticated)
                    {
                        int numCesta = 0;
                        string blob = configuration.GetValue<string>("BlobsUrls:UrlBlobPerfiles");
                        string foto = blob + "/" + Context.User.FindFirstValue("Foto");

                        if (Context.Session.GetObject<List<int>>("FAVORITOS", int.Parse(Context.User.FindFirst(ClaimTypes.NameIdentifier).Value)) != null)
                        {
                            List<int> cesta = Context.Session.GetObject<List<int>>("FAVORITOS", int.Parse(Context.User.FindFirst(ClaimTypes.NameIdentifier).Value));
                            if (cesta != null)
                            {
                                numCesta = cesta.Count;
                            }
                        }

                        @* <ul class="navbar-nav">
                    <li class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownPerfil" data-bs-toggle="dropdown" aria-expanded="false">
                    <img class="rounded-pill" width="30" height="30"
                    src="@foto">
                    @Context.User.FindFirst(ClaimTypes.Name).Value
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownPerfil">
                    <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Managed" asp-action="Logout">
                    <i class="fa fa-arrow-right-from-bracket"></i> Cerrar Sesión
                    </a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Users" asp-action="Perfil">
                    Perfil  <i class="fas fa-user-circle"></i>
                    </a>
                    </li>

                    <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Libros" asp-action="Carrito">
                    Carrito <i class="fa fa-cart-shopping"></i>
                    </a>
                    </li>

                    <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Users"
                    asp-action="PedidosUsuario">
                    Mis pedidos
                    </a>
                    </li>
                    <li class="nav-item">
                    <a asp-controller="Users" asp-action="ModificarPassword" class="nav-link text-dark">Modificar contraseña</a>
                    </li>
                    </ul>
                    </li>
                    </ul> *@

                        <ul class="navbar-nav">
                            <li class="dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdownPerfil" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img class="rounded-pill" width="30" height="30" src="@foto">
                                    @Context.User.FindFirst(ClaimTypes.Name).Value
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownPerfil">
                                    <li class="dropdown-submenu">
                                        <a class="dropdown-item dropdown-toggle nav-link text-dark" href="#">Perfil <i class="fas fa-user-circle"></i></a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" asp-controller="Users" asp-action="Perfil">Ver Perfil</a></li>

                                            <li><a class="dropdown-item" asp-controller="Users" asp-action="ModificarPassword">Modificar Contraseña</a></li>

                                            <li><button class="dropdown-item text-danger btn btn-outline-danger" onclick="eliminarUsuario()">Eliminar mi cuenta</button></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-controller="Libros" asp-action="Carrito">
                                            Carrito <i class="fa fa-cart-shopping"></i>
                                            @if (numCesta > 0)
                                            {
                                                @numCesta
                                            }
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-controller="Users" asp-action="PedidosUsuario">Mis Compras</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="Managed" asp-action="Logout">
                                            <i class="fa fa-arrow-right-from-bracket"></i> Cerrar Sesión
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                    }

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-footer">
        <div class="container">
            &copy; 2024 - Bookify - <a class="link" asp-area="" asp-controller="Home" asp-action="Privacy">Política de privacidad</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/all.min.js" asp-append-version="true"></script>
    <script src="~/js/sweetalert.min.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        $(document).ready(function () {
            $('.dropdown').hover(
                function () {
                    $(this).find('.dropdown-menu').stop(true, true).slideDown(200);
                },
                function () {
                    $(this).find('.dropdown-menu').stop(true, true).slideUp(200);
                }
            );

            $('.dropdown-submenu').hover(function () {
                $(this).children('.dropdown-menu').stop(true, true).slideDown(200);
            }, function () {
                $(this).children('.dropdown-menu').stop(true, true).slideUp(200);
            });
        });

        function eliminarUsuario() {
            Swal.fire({
                title: '¿Está seguro de que quiere eliminar la cuenta?',
                text: "¡No podrás revertir esta acción!",
                //icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sí, eliminar cuenta',
                cancelButtonText: 'Cancelar',
                imageUrl: 'https://appbookify.azurewebsites.net/images/logo.png',
                imageWidth: 100,
                imageHeight: 100,
                imageAlt: 'logo.png',
                customClass: {
                    image: 'rounded-image'
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = '@Url.Action("EliminarCuenta", "Users")';
                }
            });
        }

    </script>

    <style>
        .swal2-image {
            margin-top: 15px;
        }

        .rounded-image {
            border-radius: 50%;
        }
    </style>
</body>
</html>
